#backgrauond{
    background-color: #F0F0F0;

    h2{
        font-weight: 900;
        font-size: 2rem;
        color: black;
    }

    p{
        font-size: 36px;
        font-weight: 700;
        color: black;
    }

    img{
        height: 370px;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
        border-radius: 20px;
    }


    @media (max-width: 480px) {
        img{
            height: 200px;
        }
        h2{
            font-size: 32px;
            text-align: center;
        }
        p{
            font-size: 24px;
        }
    }
}
