#myBtn{
    background-color: #F0F0F0;
    border-radius: 50px;
    padding: 0 20px;
    button{
        font-size: 27px;
        font-weight: 800;
        border: none;
    }
}

#btn{
    background-color: black;
    color: white;
    width: 70%;
}

#BtnSize{
    border-radius: 20px;
    padding: 6px 16px;
}

@media (max-width: 768px) {
    #myBtn{
        padding: 0 15px;
        button{
            font-size: 22px;
        }
    }
    #BtnSize{
        padding: 3px 10px;
        font-size: 15px;
    }
}